//Colors 

$black:                     #000000;
$gray:                      #464343;
$light-gray:                #919191;
$theme:                     #239f87;
$white:                     #FFFFFF;
$label:                     #48506a;
$error:                     #ff5747;
$border:                    #e6e6e6;
